*{
    padding: 0;
    margin: 0;
    border: 0;
       
}
body{
font-family: system-ui;
    color: white;
    font-size: 20px;
}

.topnav{
    background-color:rgba(41 ,64, 98);
    
    position: sticky;
    
}
.topnav img{
    width: 100px;
    
    
    
    
}

.topnav a{
    float: right;
    color: antiquewhite;
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
    padding: 15px 12px 5px;
    text-decoration: none;
    font-size: 15px;
}
.topnav a:hover{
    background-color: rgba(12,142,157);
    color: black;}
/*  home page---------------------------------------------------------------------------------------*/
.topimg{
    width: 100%;
    height: 300px;
    position: relative;
}
.topimg img{
    width: 100%;
    height: 100%;
    
    
}
.topimg h1{
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    color: rgba(41 ,64, 98);
    
}
.grad{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    opacity: 0.55;
}
.column {
  float: left;
  width: 50%;
    margin-top: 50px;
     background-color: rgba(41 ,64, 98);
    
}


.row:after {
  content: "";
  display: table;
  clear: both;
   
}
    
.row ,i,h1{
    color: rgba(12,142,157);
}
.row p{
    color: whitesmoke;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
    display: inline-block;
    margin-top: 50px;

    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 50px;
    
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.container {
    color: rgba(41 ,64, 98);
    }

container p,h4{
    padding-left: 10px;
    padding-top: 10px;
    
    
}
span{
    color: rgba(12,142,157);
}
/* home page----------------------------------------------------------------------------- */
/*product page--------------------------------------------------------------------------------*/



.center{
    margin-left: auto;
    margin-right: auto;
}

.sup img{
    height: 150px;
    width: 150px;
}
.sup h1{
    background-color: rgba(41 ,64, 98);
    margin: 30px;
    padding:20px 20px 20px 20px; 
    display: inline-block;
    
    border-radius: 20px;
    text-align: 

    
}
.pro{
    margin-top: 50px;
    background-color: rgba(12,142,157);
    display: block;
    
     border-radius: 20px;
}
.pro h2{
    
    font-size: 50px;
    color: rgba(41 ,64, 98);
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.column2 {
  float: left;
  width: 50%;
    background-color: white;
    
    
}
.column2 h3{
    background-color: rgba(41 ,64, 98);
    margin: 30px;
    padding:20px 20px 20px 20px; 
    display: inline-block;
    
    border-radius: 20px;
    text-align: center;
    object-position: center;
    font-size: 40px
}
.column2 li{
    color: rgba(12,142,157);
    
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    padding: 30px 30px 30px 30px;
    margin-bottom: 20px;
    
    
}


.row2:after {
  content: "";
  display: table;
  clear: both;
    float: right;
    
    
}
/*about us---------------------------------------------------------------------------------------*/

.column4 {
  float: left;
  width: 50%;
    margin-top: 50px;
    margin-bottom: 60px;
}
.column4 p{
    color: rgba(41 ,64, 98);
    
    
}
.column4 h2{
    color: rgba(12,142,157);
    margin: 30px;
    font-size: 40px;
    
}
.row4:after {
  content: "";
  display: table;
  clear: both;
}
.high{
    
    margin-bottom: 50px;
}
.high img{
    
    width: 30%;
    margin: 1%;
    filter:blur(2px);
     
}
.high img:hover{
     filter:blur(0);
    
}
.high h1{
    background-color: rgba(41 ,64, 98);
    margin: 30px;
    padding:20px 20px 20px 20px; 
    
    
    border-radius: 20px;

}

/* footer---------------------------------------------------------------------------------------*/
.footer1{
    background-color: rgba(41 ,64, 98);
    
}
.footer1 h3,p{
    padding-left: 30px;
}
.footer1 p{
    
}
